

$primary-normal:#333231;
$primary-dark:#040f1a;
$primary-light:#0c2135;

$secundary-norml:#090d11;
$secundary-dark: #06090c;
$secudary-light: #1a1f25;

$black-normal:#232224;
$black-dark:#161617;
$black-light:#353436;

$white-normal:#fff;
$white-dark: #edeaef;
$white-light:#fefbff;

$red-normal:#F20F62;
$red-dark: #F20F62;
$red-light: #d34040;